body { 
    background-image: url("../dark_brick_wall/dark_brick_wall/dark_brick_wall.png");
    font-family: GameOfThornes;		
    color:white;
}

.bord {   
    margin-top: 10%;
    margin-left: 20%;  
    height:713px;    
    width:70rem;
    filter: drop-shadow(0 0 0.55rem rgb(22, 22, 22));
}

.brick { 
    color:black;
    border: 1px solid black;  
    background-color: #671e1e;
    height:  3.3rem;
    width: 3.3rem;
}

.round2 {   
    margin-left: 3.4rem;
    position: absolute; 
    display: flex; 
}

.round3 {  
    float: right;
    margin-right: 11.8rem;    
}

.dice { 
    color:black;
    width: 4rem;
    height:4rem;
    background-color: aliceblue;
    margin-left: 40%;
    position: absolute;
    margin-top:15rem;
}
.gameover {
    display: none;
}


