body { 
    background-image: url("../dark_brick_wall/dark_brick_wall/dark_brick_wall.png");
    font-family: GameOfThornes;		
    color:white;
}


.bord { 
   
    margin-top: 10%;
    margin-left: 20%;
   /* background-color: #474747;
   border: 10px solid rgb(172, 80, 19);
   
   */
    height:713px;    
    width:70rem;
    filter: drop-shadow(0 0 0.55rem rgb(22, 22, 22));
}

.brick { 
    color:black;
    border: 1px solid black;  
    background-color: white;
    height:  3.3rem;
    width: 3.3rem;
}

.round2 {   
 margin-left: 3.4rem;
 
display: flex; 
}

.round3 {  

    float: right;
    margin-right: 11.8rem;      

}

.round4 { 
margin-left: 35.4rem;
display: flex; 
}