@font-face {
	font-family: GameOfThornes;
	src:url("../game-of-thrones/Game\ of\ Thrones.ttf")

}
body { 
    background-image: url("../dark_brick_wall/dark_brick_wall/dark_brick_wall.png");
    font-family: GameOfThornes;		
    color:white;
    
}

.bord {   
    animation: DisplayGame 1.3s;
    margin-left: 25%;  
    height:713px;    
    width:55rem;
    filter: drop-shadow(0 0 0.55rem rgb(22, 22, 22));
}

.brick { 
    color:black;
    border: 1px solid black;  
    background-color: #671e1e;
    height:  3.3rem;
    width: 3.3rem;
}

.round2 {  
    
    position: absolute; 
    display: flex; 
}

.round3 {  
    float: right;
    margin-right: 2.2rem; 
}

.dice { 
    color:rgb(255, 255, 255);
    width: 4rem;
    height:4rem;
    background: linear-gradient(to left, #996633 44%, #663300 98%);
    margin-left: 45%;
    position: relative;
    font-size: 2em;
    margin-top: 5%;
    
}
.gameover {
    display: none;
    display: inline;
}
.icontext { 
 cursor: pointer;
margin-left:100px;
margin-top:-55px;
}
.iconimage {
padding:4em;
}
.icontext { 
    font-size: 1.5em;
    cursor: pointer;
    margin-left:6%;
    margin-top:-3%;       
    width:50%;
}
.iconimage {
    padding: 3.6em;
    }
    .iconimage img { 
     width: 6.1%;
 }

.gameTasks {
    width: 40%;
    height: 400px;    
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;   
   
}
.cardOne { 
    background: 
    linear-gradient(
      rgba(189, 168, 168, 0.54),
      rgba(112, 71, 71, 0.5)
    ),
    url("../img/player.jpg");
    
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     filter: grayscale(50%);     
    margin-top:7%;      
    margin-left: 15%;    
    background-color: #1010103d;   
    border-radius: 10px;
    height: 15rem;
    text-shadow: 2px 2px #5c5c5c; 
     grid-row: 1;
}
.DisplayCards { 
   margin-left:15%;
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top:-600px;

}
.cardOne h1 {
    margin-top: 100px;
    color: #fff; 
   
    font-size:1.8em;
    text-align: center;
}



@keyframes DisplayGame { 
    from {
        opacity: 0;
    
    } to {
    opacity: 1;

    }
}
