@font-face {
	font-family: GameOfThornes;
	src:url("../game-of-thrones/Game\ of\ Thrones.ttf")

}
body { 
    background-image: url("../dark_brick_wall/dark_brick_wall/dark_brick_wall.png");
    font-family: GameOfThornes;		
    color:white;
}

.bg-1 { 
  
margin-top:0%;
    margin-left: 4%;
    margin-bottom:100px;   
    

    
}
.cardSelected { 
    display: none;   
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 100px;
}
.CardText { 
    font-size: x-large;
    margin-bottom: 5%;
    margin-left: 10%;    
    font-family: 'Averia Libre';
}

.cardOne { 
    background: 
    linear-gradient(
      rgba(189, 168, 168, 0.54),
      rgba(112, 71, 71, 0.5)
    ),
    url("../img/player.jpg");
    
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     filter: grayscale(50%);
    display: none;    
    margin-top:7%;  
    margin-left: 4%;    
    background-color: #1010103d;   
    border-radius: 10px;
    height: 20rem;
    text-shadow: 2px 2px #5c5c5c;
 
}

    .buttons { 
    margin-top:3%;
    margin-left:5%;    
    }

.cardOne h1 {
    margin-top: 150px;
    color: #fff; 
    font-size:1.5em;
}

.headerText { 
    margin-bottom: 100px;
    padding-top: 50px;
    color:white;
}

.texthead {
    color:white; 
    font-size: xx-large;
}
  .secbtn { 
    background-color:rgb(206, 46, 46);;

    border:none;  
     margin-left:5%;  	
    height: 50px;
    font-family: 'New Rocker';
    color:white;    
	width:120px;    
    }



@keyframes cardSel { 
    from {
        opacity: 0;
    
    } to {
    opacity: 1;

    }
}

@keyframes popup {
  from {
        opacity: 0;
        margin-top:15%;

    }to {
    opacity: 1;
    margin-top:7%;
    }
}

.icontext {
   font-size: 1.5em;	
   margin-left:3em;
   margin-top:-40px;
   width:100%;
}
.iconimage {
   padding:2em;
}
.iconimage img { 
	width: 25%;
}

@media screen and (min-width:1200px) { 
    .bg-1 {     
        margin-left: 12%;
        height: 3400px;
        margin-bottom: 100px;
         background-color: #10101077;
    }
    .cardOne {        
        cursor: pointer;
        min-height: 50vh;
        margin-left:10%;            
    }
    .cardSelected { 
    display: none;
    animation: cardSel 1.3s;  
    margin-left: 20%;
    margin-bottom: 100px;
}


    .cardOne:hover{ 
        border:2px solid rgba(105, 42, 0, 0.472);    
    }
    .cardOne h1 {
        font-size:2.5em;
        text-align: center;   
}

    .headerText {
        padding-top: 100px;
        padding-left: 20%;
        
    }

    .cardSelected { 
        display: none;          
        margin-left: 10%;
        
        
    }    
    .CardText { 
        margin-left: 30%;
        margin-top: -5%;
        font-size: 2.5em;
        animation: cardSel 1.3s;
        letter-spacing: 15px;
        font-family: 'Averia Libre'; 
    }
    .texthead {
        font-size:2.5em;
        margin-left: 4%;
        
      }

    .buttons { 
    margin-top:3%;
    margin-left:30%;    
    
    }
    .secbtn { 
    margin-left:10%;
    background-color:rgb(206, 46, 46);;
    border:none;   	
    height: 50px;
    color:white;
   
    font-size: 1.5em;
	width:150px;    
    }
    .secbtn a { 
        color:white;
    }

    .cardupdate { 
        animation: popup 1.3s;

    }
   
        .iconimage {
           padding: 3.6em;
           }
           .iconimage img { 
            width: 6.1%;
        }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1028px) and (orientation : landscape){

	.icontext {
		font-size: 1.5em;
		margin-left:4.5em;
		margin-top:-9%;
		width:100%;

	 }
	 
	 .iconimage {
		padding:4em;
	 }
	 .iconimage img { 
		 width: 15%;

	 }.buttons {
        
        margin-left: 25%;
    }
    .bg-1 { 
        margin-left: 10%;
    }


    .headerText {     
        padding-left: 10%; 
          

          }
          .texthead {
          	margin-top:50px;
          	font-size:2.1em;
          }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

 .cardOne h1 {
     font-size: 2em;
 }
   

	.icontext {
		font-size: 1.5em;
		margin-left:4.5em;
		margin-top:-70px;
		width:100%;
	

	 }
	 .iconimage {
		padding:4em;
	 }
	 .iconimage img { 
		 width: 15%;
	 }
	 	 .headerText {     
        padding-left: 10%; 
          

          }
          .texthead {
          	margin-top:50px;
          	font-size:2.1em;
          }
          .CardText { 
            font-size: 3em;
            margin-bottom: 5%;
            margin-left: 10%;    
            font-family: 'Averia Libre';
        }
        
}







@media screen and (min-device-width: 350px) and (max-device-width: 823px) and (orientation : landscape){
   
    .CardText { 
        font-size: large;
        margin-bottom: 5%;
        margin-left: 10%;
    }
   
    
     .iconimage {
        padding:2em;
     }  
     .iconimage img { 
        width: 15%;
    }  
    .buttons {
        
        margin-left: 20%;
    }
    
    .CardText { 
        font-size: 3em;
        margin-bottom: 5%;
        margin-left: 10%;    
        font-family: 'Averia Libre';
    }
    

  
  

}

@media screen and (min-device-width: 320px) and (max-device-width:359px) and (orientation : portrait){
    .texthead {       
        font-size: x-large;
        margin-left:8%;
    }

    
    .icontext {
        font-size: 1.5em;	
        margin-left:3em;
       
        width:100%;
     }
     .iconimage {
        padding:2em;
     }    
         
  .bg-1 {
  	margin-left:5%;
  }
  .secbtn {
      margin-left: 1%;
  }

}